
.reclineExplorerOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #fff;
	overflow: auto;
}

a {
  color: #c7231d;
}

a:hover {
  color: #bc130e;
}

.reclineExplorerContent {
	padding: 60px 10px;
}

.reclineExplorerContent  .recline-slickgrid {
  height: 550px;
}

.reclineExplorerOverlay .navbar-fixed-top .navbar-inner {
	padding: 0 15px;
	height: 50px;
}

.reclineExplorerOverlay .navbar-form {
	margin: 0;
}

.reclineExplorerOverlay .table-select {
	margin-top: 10px;
}

.reclineExplorerOverlay .table-select>span {
	color: #fff;
	vertical-align: middle;
}

.reclineExplorerOverlay .table-select>select {
	margin: 0 0 0 6px;
	width: auto;
	max-width: 500px;
}

.reclineExplorerOverlay .js-exit {
	margin-top: 10px;
}

.reclineExplorerOverlay .table-options.btn-group {
	margin-top: 10px;
	margin-left: 15px;
}

.dropdown-menu.slick-contextmenu {
	z-index: 10020 !important;
}

